* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README.GamesServ -text
/RELNOTES -text
/aclocal.m4 -text
/bomb.c -text
/bomb_help.c -text
/common.c -text
/configure -text
/configure.in -text
/gamesserv.c -text
/gamesserv.h -text
/gamesserv.vcproj -text
/gamesserv_help.c -text
/hilo.c -text
/hilo_help.c -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/pulse.xml -text
/russian.c -text
/russian_help.c -text
/ttt.c -text
/ttt_help.c -text
